[mysqld]
wsrep_provider_options = "gmcast.listen_addr=tcp://[::]:4567; ist.recv_addr=HOST-IP6-NAME:4568"
wsrep_sst_receive_address = HOST-IP6-NAME:4444
wsrep_cluster_address = gcomm://HOST-IP6-NAME:4567,PEER2-IP6-NAME:4567,PEER3-IP6-NAME:4567

[sst]
sockopt = ',pf=ipv6'
